*{
    margin: 0;
    padding: 0;
   
}
.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(5, 11, 11);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;
}

.items{
color: white;
background-color: aqua;
border: 2px solid black;
display: flex;
justify-content: center;
align-items: center;
  
}
.aside{
    grid-row-start: 2;
    grid-row-end: 5;
}

.header, .footer{
   grid-column-start:1;
   grid-column-end:3;
}

@media(min-width:768px){
    
}